name: monitor-callback

on:
  workflow_dispatch:
    inputs:
      GITHUB_CONTEXT:
        description: JSON blob of `github` context
        required: true
        type: string
      WORKFLOW_RESULTS:
        description: JSON blob of `needs` context
        required: true
        type: string
      CALLBACK_TOKEN:
        description: The token (e.g. a PAT) to be able to call back to the `faubion-hbo/test-monitor` repository
        required: true
        type: string

jobs:
  parse-and-callback:
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_CONTEXT: ${{ inputs.GITHUB_CONTEXT }}
          WORKFLOW_RESULTS: ${{ inputs.WORKFLOW_RESULTS }}
        run: |
          echo '`github` context:'
          jq '.' <<< $GITHUB_CONTEXT
          echo
          echo 'Workflow results:'
          jq '.' <<< $WORKFLOW_RESULTS

      - env:
          GITHUB_TOKEN: ${{ inputs.CALLBACK_TOKEN }}
        run: |
          gh workflow -R faubion-hbo/test-monitor run monitor.yaml -f LAST_WORKFLOW_NAME='tmp'
